{% extends "menu.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<div class="fondoH">
    <h3>Consulta Hashtags</h3>
    <form method="POST" id="consultaHashtags" enctype="multipart/form-data" class="my-4">
        {% csrf_token %}
        <div class="row g-3 justify-content-center">
            <div class="col-md-3">
                <label for="fechainicio" class="form-label">Fecha inicio</label>
                <input type="date" id="fechainicio" name="fechainicio" class="form-control" required>
            </div>
            <div class="col-md-3">
                <label for="fechafinal" class="form-label">Fecha final</label>
                <input type="date" id="fechafinal" name="fechafinal" class="form-control" required>
            </div>
            <div class="col-12">
                <button type="button" id="submitButtonHashtags" class="btn btn-primary">Consultar Hashtags</button>
            </div>
        </div>
    </form>

    <div class="row g-3 justify-content-center">
        <div class="col-md-4">
            <textarea id="resultadoHashtags" class="form-control" rows="5" readonly style="display: none;"></textarea>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#submitButtonHashtags").click(function(e) {
            e.preventDefault();
            var form = new FormData();
            var datein = new Date($("#fechainicio").val())
            var diain = datein.getUTCDate();
            var mesin = datein.getUTCMonth() + 1;
            var anioin = datein.getUTCFullYear();
            var fechain = [diain, mesin, anioin].join('/')
            var datefin = new Date($("#fechafinal").val())
            var diafin = datefin.getUTCDate();
            var mesfin = datefin.getUTCMonth() + 1;
            var aniofin = datefin.getUTCFullYear();
            var fechafin = [diafin, mesfin, aniofin].join('/')
            form.append('data', $("#inputData").val());
            form.append('fechainicio', fechain);
            form.append('fechafinal', fechafin);
            var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
            form.append('csrfmiddlewaretoken', csrfToken);

            $.ajax({
                type: "POST",
                url: "",
                data: form,
                processData: false,
                contentType: false,
                success: function(response) {
                    var texto = ""
                    var num = 1
                    var menciones = response
                    for (var key in menciones) {
                        texto = texto + " " + num + ": " + key + " = " + menciones[key] + " mensajes" + "\n"
                        num += 1
                    }
                    $("#resultadoHashtags").val(texto); // Coloca el texto en el cuadro de texto
                    $("#resultadoHashtags").show(); // Muestra el cuadro de texto
                },
                error: function(xhr, status, error) {
                    $("#response").html("Error: " + error);
                }
            });
        });
    });
</script>
{% endblock %}
