{% extends "menu.html" %}
{% load static %}
{% block content %}

    <h1>Tecnologías Chapinas, S.A.</h1>
    <form method="POST" id="myForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="fileInputSentimientos" name="file" accept=".xml" />
        <button type="button" id="submitButtonSentimientos">Leer Sentimientos</button>
    </form>
    <form method="POST" id="myForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="fileInputMensajes" name="file" accept=".xml" />
        <button type="button" id="submitButtonMensajes">Leer Mensajes</button>
    </form>
    {% comment %} <div id="response">
        <textarea id="responseText" rows="10" cols="50"></textarea>
        <button type="button" id="getResponseButton">Obtener Respuesta de Flask</button>
    </div>

    <div id="response2">
        <textarea id="responseText2" rows="10" cols="50"></textarea>
        <button type="button" id="getResponseButton2">Obtener Respuesta de Flask 2</button>
    </div> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#submitButtonSentimientos").click(function(e) {
                e.preventDefault();
                var form = new FormData();
                form.append('data', $("#inputData").val());
                form.append('file', $("#fileInputSentimientos")[0].files[0]);
                var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
                form.append('csrfmiddlewaretoken', csrfToken);

                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:5000/upload_file_sentimientos",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $("#response").html(response.message);
                    },
                    error: function(xhr, status, error) {
                        $("#response").html("Error: " + error);
                    }
                });
            });

            $("#submitButtonMensajes").click(function(e) {
                e.preventDefault();
                var form = new FormData();
                form.append('data', $("#inputData").val());
                form.append('file', $("#fileInputMensajes")[0].files[0]);
                var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
                form.append('csrfmiddlewaretoken', csrfToken);

                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:5000/upload_file_mensajes",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $("#response").html(response.message);
                    },
                    error: function(xhr, status, error) {
                        $("#response").html("Error: " + error);
                    }
                });
            });
    
        });
    </script>

{% endblock  %}